@media (orientation: portrait) {
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  width: 100dvw;
  background: radial-gradient(var(--background_second_color), var(--background_first_color) 100%);
}

.bar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 3rem;
  align-items: center;
  background: linear-gradient(90deg, var(--background_third_color) 0%, var(--background_second_color) 50%, var(--background_third_color) 100%);
}

.logo,
#color_setting {
  margin-left: 1rem;
  justify-content: start;
  width: max-content;
}

/*############################################################*/
/*header*/
/*############################################################*/
header {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  box-shadow: 0rem 0.5rem 1rem var(--background_second_color);
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.logo::before {
  content: "";
  display: inline-grid;
  background-image: url(/src/res/icon/favicon.svg);
  height: 1em;
  width: 1em;
}

/*############################################################*/
/*content*/
/*############################################################*/
.content {
  flex-grow: 1;
}

/*############################################################*/
/*footer*/
/*############################################################*/
footer {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  box-shadow: 0rem -0.5rem 1rem var(--background_second_color);
}

#color_setting {
  height: 1.5rem;
  width: 1.5rem;
  background: #005e3e;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.3rem 0.15rem var(--background_second_color);
}

#copyright {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}