@media (orientation: portrait) {
  .bar {
    flex-direction: column;
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  background: radial-gradient(var(--background_second_color), var(--background_color) 100%);
}

.bar {
  display: flex;
  height: 5rem;
  background: linear-gradient(90deg, var(--background_third_color) 0%, var(--background_second_color) 50%, var(--background_third_color) 100%);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::before {
  content: "";
  display: inline-flex;
  background-image: url(/src/res/icon/favicon.svg);
  height: 1em;
  width: 1em;
}

#color_setting {
  background: #005e3e;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

.content {
  flex-grow: 1;
}