:root {
  --main: #005e3e;
  --white: #fffffa;
  --black: #030300;
  --text_color: var(--white);
  --text_second_color: var(--black);
  --background_color: color-mix(in srgb, var(--main) 5%, var(--white));
  --background_second-color: color-mix(in srgb, var(--main) 35%, var(--white));
  --background_third-color: color-mix(in srgb, var(--main) 65%, var(--white));
  --interactive_color: color-mix(in srgb, var(--main) 85%, var(--white));
  --interactive_color-hover: color-mix(in srgb, var(--main) 85%, var(--black));
  --contrast_color: color-mix(in srgb, var(--main) 95%, var(--black));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text_second_color: var(--white);
    --background_color: color-mix(in srgb, var(--main) 5%, var(--black));
    --background_second_color: color-mix(in srgb, var(--main) 35%, var(--black));
    --background_third_color: color-mix(in srgb, var(--main) 65%, var(--black));
    --interactive_color: color-mix(in srgb, var(--main) 85%, var(--black));
    --interactive_color_hover: color-mix(in srgb, var(--main) 85%, var(--white));
    --contrast_color: color-mix(in srgb, var(--main) 95%, var(--white));
  }
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Times, serif;
  color: var(--text_color);
  font-size: clamp(16px, 2vw, 32px);
  font-weight: bolder;
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
  user-select: none;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
}

body {
  background: var(--background_color);
}

.not-displayed {
  display: none !important;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.headline {
  font-size: 1.3rem;
}