:root {
  --main: #005e3e;
  --white: #fffffa;
  --black: #030300;
  --text_color: var(--white);
  --text_second_color: var(--black);
  --background_first_color: color-mix(in srgb, var(--main) 5%, var(--white));
  --background_second_color: color-mix(in srgb, var(--main) 35%, var(--white));
  --background_third_color: color-mix(in srgb, var(--main) 65%, var(--white));
  --interactive_color: color-mix(in srgb, var(--main) 85%, var(--white));
  --interactive_color_hover: color-mix(in srgb, var(--main) 85%, var(--black));
  --contrast_color: color-mix(in srgb, var(--main) 95%, var(--black));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text_second_color: var(--white);
    --background_first_color: color-mix(in srgb, var(--main) 5%, var(--black));
    --background_second_color: color-mix(in srgb, var(--main) 35%, var(--black));
    --background_third_color: color-mix(in srgb, var(--main) 65%, var(--black));
    --interactive_color: color-mix(in srgb, var(--main) 85%, var(--black));
    --interactive_color_hover: color-mix(in srgb, var(--main) 85%, var(--white));
    --contrast_color: color-mix(in srgb, var(--main) 95%, var(--white));
  }
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100dvw;
  list-style: none;
  color: var(--text_color);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Times, serif;
  font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem);
  font-weight: bolder;
  text-align: center;
  outline: none;
  overflow: hidden;
  user-select: none;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
}

body {
  background: var(--background_color);
}

.not-displayed {
  display: none !important;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.headline {
  color: var(--text_second_color);
  transition: color 0.3s;
}

.normal_text * {
  font-size: 0.75rem;
}

.big_text * {
  font-size: 0.90rem;
}

button {
  border: 0.05rem solid var(--interactive_color_hover);
  border-radius: 0.15rem;
  background: var(--interactive_color);
  transition: background 0.3s;
  cursor: pointer;
}

button:focus,
button:hover {
  border: 0.05rem solid var(--interactive_color);
  background: var(--interactive_color_hover);
}

.button {
  display: grid;
  height: 2em;
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  align-items: center; 
}